.imgsLyot {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 0% 0% 0% 0%;
  padding-top: 2px;
  margin: auto;
  text-align: center;
  float: left;
  align-self: center;
}

img{
	width: 240px;
	height: 300px;
	border-radius: 5px;
}

img:hover{
  opacity: .9;
  border-radius: 25px;
}

#vfydGall{
	visibility: hidden;
}
