{{define "imagesLayout"}}
<div class="imgsLyot">
<table>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
</tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
  <tr>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
    <td><a href="photos/error.png" target="_blank"><img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"></a></td>
  </tr>
</table>
</div>
{{end}}

{{define "tdImg"}}
<td> <img src="{{.}}" alt="photos/error.png" onerror="this.src='photos/error.png';"> </td>
{{end}}
