{{template "headerAll" .}}

<form action="/register" method="post">
	<table align="center" >
      <tr>
        <td>Full Name</td>
        <td><input type="text" id="fname" name="fname" onchange="fnameValidate()" placeholder="Full Name" required></td>
      </tr>
      <tr>
        <td>Mobile number</td>
        <td><input type="text" id="mno" name="mno" placeholder="Mobile number" onchange="mnoValidate()" required></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" id="pwd" name="pwd" placeholder="Password" required></td>
      </tr>
      <tr>
        <!-- <td colspan="2" align="center"><input type="image" src="register.png" alt="Submit" width="150" height="30" ></td> -->
        <td colspan="2" align="center"><button type="submit" >Submit</button></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><button type="reset" >Cancle</button></td>
      </tr>
    </table>
</form>
<div align="center">{{if .Fname}} Thank you {{.Fname}}. Your registration is success. {{end}}</div>
<script>
        function mnoValidate() {
                var phoneno = /^\d{10}$/;
                var mno=document.getElementById("mno");
                if(mno.value.match(phoneno)){
                        return true;
                }
                else {
                        document.getElementById("mno").value="";
                        document.getElementById("mno").focus();
                        alert("Mobile number must be ten digits.");
                        return false;
                }
        }
        function fnameValidate() {
                var nametest = /^[a-zA-Z ]+$/;
                var fname=document.getElementById("fname");
                if(nametest.test(fname.value)){
                        return true;
                }
                else {
                        document.getElementById("fname").value="";
                        document.getElementById("fname").focus();
                        alert("Name must be not contain number of special characters.");
                        return false;
                }
        }
  </script>
  <!-- {{.}} -->
 

{{template "footerAll" .}}